html
    head
        title= titel
    body
        h1= titel
        ul
            each recept in allaRecept
                li
                    a(href='/recept/' + recept.url) #{recept.titel}
        a(href='/add-recepie')
            button Lägg till nytt recept