html
    head
        title= title
    body
        h1= title
        ul
            each recipe in allRecipes
                li
                    a(href='/recipe/' + recipe.url) #{recipe.title}
        a(href='/add-recipe')
            button Lägg till nytt recept