* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

.container {
    display: grid;
    height: 100vh;
  
    grid-template-rows: auto auto 1fr auto auto auto;
    gap: 0px;
}

@media (min-width: 720px) {
    /* The header section takes 12 columns */

    body {
        font-size: 1em;
    }
    .container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto 1fr auto;
      }

    .header {
      grid-column: 1 / span 12;
    }
  
    .navigation {
      grid-column: 1 / span 12;
    }
  
    .main {
      grid-column: 3 / span 10;
    }
  
    .sidebar {
      grid-column: 1 / span 2;
      grid-row: 3;
    }
  
    .ads {
      grid-column: 1 / span 2;
    }
  
    .footer {
      grid-column: 3 / span 10;
    }
}

@media (min-width: 1020px) {

    .navigation {
      grid-column: 3 / span 8;
    }
  
    .main {
      grid-column: 3 / span 8;
    }
  
    .sidebar {
      grid-row: 2 / 4
    }
  
    .ads {
      grid-column: 11 / span 2;
      grid-row: 2 / 4;
    }
  
    .footer {
      grid-column: 1 / span 12;
    }
  }